@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

nav {
  position: absolute;
  width: 847px;
  height: 45px;
  left: 375px;
  top: 30px;
}

.menulinks {
  position: absolute;
  width: 413px;
  height: 19px;
  left: 327px;
  top: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

a {
  color: #000;
  text-decoration: none;
  padding-left: 12px;
}
a:hover {
  color: #f16214;
  transition: 0.3s;
}

.firstbtn {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 780px;
  top: 20px;
  background: #f16214;
  border: 1.5px solid #f16214;
  box-sizing: border-box;
  border-radius: 120px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.imgdiv {
  position: absolute;
  width: 958.34px;
  height: 958.62px;
  left: -6px;
  top: 100px;
}

.fimg {
  position: absolute;
  width: 1063.31px;
  height: 850.97px;
  left: 870px;
  top: 0px;
  filter: drop-shadow(21px 17px 100px rgba(0, 0, 0, 0.3));
  transform: rotate(0deg);
}

.bgimg {
  position: absolute;
  width: 958px;
  height: 750px;
  left: 975px;
  top: 0px;
  border-radius: 375px 0px 0px 375px;
}

.leaf2 {
  position: absolute;
  width: 166px;
  height: 166px;
  left: 1403px;
  top: 650px;
}

.leaf1 {
  position: absolute;
  width: 188px;
  height: 188px;
  left: 1105px;
  top: 237px;
}

.p1 {
  position: absolute;
  width: 488px;
  height: 273px;
  left: 374px;
  top: 216px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 91px;

  color: #000000;
}

.p2 {
  position: absolute;
  width: 570px;
  height: 66px;
  left: 374px;
  top: 564px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}

.secbtn {
  position: absolute;
  width: 170px;
  height: 50px;
  left: 375px;
  top: 670px;
  border-radius: 120px;
  border: none;
  background: #f16214;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.p3 {
  position: absolute;
  top: 0px;
  left: 30px;
}

svg {
  position: absolute;
  left: 125px;
  top: 5px;
}

.socimg {
  position: absolute;
  width: 229px;
  height: 40px;
  left: 375px;
  top: 750px;
  padding: 5px;
}

.featurediv {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 1170px;
  height: 217px;
  left: 375px;
  top: 950px;
  background: #ffffff;
  box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
  border-radius: 60px 0px 60px 0px;
}

.time {
  position: absolute;
  width: 196px;
  height: 97px;
  left: 87px;
  top: 60px;
}

.p4 {
  position: absolute;
  left: -40px;
  top: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.p5 {
  position: absolute;
  left: 10px;
  top: 57px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.time::after {
  position: absolute;
  top: 60px;
  left: 220px;
  content: "";
  width: 40px;
  height: 0px;
  border: 1px solid #575757;
  transform: rotate(90deg);
}

.location {
  position: absolute;
  width: 197px;
  height: 97px;
  left: 487px;
  top: 60px;
}

.p6 {
  position: absolute;
  left: -40px;
  top: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.p7 {
  position: absolute;
  left: 5px;
  top: 57px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.location::after {
  position: absolute;
  top: 60px;
  left: 220px;
  content: "";
  width: 40px;
  height: 0px;
  border: 1px solid #575757;
  transform: rotate(90deg);
}

.call {
  position: absolute;
  width: 103px;
  height: 97px;
  left: 934px;
  top: 60px;
}

.p8 {
  position: absolute;
  left: -40px;
  top: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.p9 {
  position: absolute;
  left: -15px;
  top: 57px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

.sec2 {
  position: absolute;
  width: 1940px;
  height: 700px;
  left: -20px;
  top: 1200px;
}

.p10 {
  position: absolute;
  width: 82px;
  height: 17px;
  left: 974px;
  top: 155px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16214;
}

.p11 {
  position: absolute;
  width: 526px;
  height: 98px;
  left: 975px;
  top: 181px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.p12 {
  position: absolute;
  width: 570px;
  height: 139px;
  left: 974px;
  top: 324px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}

.thirdbtn {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 975px;
  top: 492px;
  background: #f16214;
  border-radius: 54px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50%;
  color: #ffffff;
  text-align: center;
}

.svg2 {
  position: absolute;
  left: 70%;
}

.p13 {
  position: absolute;
  top: 5px;
  left: 20px;
}

.sec3 {
  position: absolute;
  width: 1920px;
  height: 723px;
  left: 0px;
  top: 1767px;
}

.serv1 {
  position: absolute;
  width: 370px;
  height: 395px;
  left: 375px;
  top: 228px;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 60px 0px 60px 0px;
  font-family: "Open Sans", sans-serif;
}

.p14 {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 933px;
  top: 97px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16214;
}

.sech1 {
  position: absolute;
  width: 571px;
  height: 49px;
  left: 675px;
  top: 120px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.servimg1 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 145px;
  top: 70px;
}

.serv1 > h3 {
  position: absolute;
  width: 191px;
  height: 32px;
  left: 90px;
  top: 150px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #000000;
}

.serv1 > p {
  position: absolute;
  width: 330px;
  height: 75px;
  left: 20px;
  top: 248px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  text-align: center;

  color: #888888;
}

.serv1:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.serv2 {
  position: absolute;
  width: 370px;
  height: 395px;
  left: 805px;
  top: 225px;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 60px 0px 60px 0px;
  font-family: "Open Sans", sans-serif;
}

.servimg2 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 145px;
  top: 70px;
}

.serv2 > h3 {
  position: absolute;
  width: 191px;
  height: 32px;
  left: 90px;
  top: 150px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #000000;
}

.serv2 > p {
  position: absolute;
  width: 330px;
  height: 75px;
  left: 20px;
  top: 248px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  text-align: center;

  color: #888888;
}

.serv2:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.serv3 {
  position: absolute;
  width: 370px;
  height: 395px;
  left: 1235px;
  top: 225px;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 60px 0px 60px 0px;
  font-family: "Open Sans", sans-serif;
}

.servimg3 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 145px;
  top: 70px;
}

.serv3 > h3 {
  position: absolute;
  width: 191px;
  height: 32px;
  left: 90px;
  top: 150px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #000000;
}

.serv3 > p {
  position: absolute;
  width: 330px;
  height: 75px;
  left: 20px;
  top: 248px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  text-align: center;

  color: #888888;
}

.serv3:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.sec4 {
  position: absolute;
  width: 1920px;
  height: 1306px;
  left: 0px;
  top: 2490px;
}

.fourh3 {
  position: absolute;
  top: 97px;
  left: 935px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 153, 0);
}

.itemsh1 {
  position: absolute;
  top: 120px;
  left: 784px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.product1 {
  position: absolute;
  width: 373px;
  height: 405px;
  top: 228px;
  left: 375px;
  border-radius: 60px 0px 60px 0px;
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  box-shadow: 0 0 20px rgb(145, 145, 145);
}

.product1 > img {
  display: flex;
  width: 371px;
  height: 276px;
  border-radius: 45px 0px 0px 0px;
}

.sandh3 {
  position: absolute;
  top: 286px;
  left: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.product1 > button {
  position: absolute;
  left: 20px;
  top: 339px;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background: #f16214;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.product1 > svg {
  position: absolute;
  left: 315px;
  top: 303px;
}

.fspan {
  position: absolute;
  top: 304px;
  left: 335px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.secspan {
  position: absolute;
  top: 333px;
  left: 306px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: #000000;
}
